annotated-types==0.7.0
beet==0.115.0
bolt==0.50.1
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.1
click-help-colors==0.9.4
dotenv==0.9.9
gevent==26.5.0
greenlet==3.5.1
idna==3.18
Jinja2==3.1.6
MarkupSafe==3.0.3
mecha==0.103.0
nbtlib==1.12.1
numpy==2.4.6
opencv-python==4.13.0.92
pathspec==1.1.1
pillow==12.2.0
pydantic==2.13.4
pydantic_core==2.46.4
python-dotenv==1.2.2
PyYAML==6.0.3
requests==2.34.2
slack_bolt==1.28.0
slack_sdk==3.42.0
tokenstream==1.7.0
toml==0.10.2
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
websocket-client==1.9.0
zope.event==6.2
zope.interface==8.5
